<!-- Page Heading -->
<div class="row">
  <div class="col-lg-11">
    <h3>
      Start a New Study
    </h3>
    <p class="bg-primary-blue text-center">General Study Information</p>
  </div>
</div>
<!-- /.row -->
<form {{action "save" on="submit"}}>
	<h6 style="color:red">{{errorMessage}}</h6>
	<div class="row">
	  <div class="col-lg-11">
	  	<div class="form-horizontal" >
	      <label class="col-sm-3 control-label">Study Title</label>
				<div class="col-sm-9">
	        {{input value=model.study.title type="text" placeholder="Write the title of the study" class="form-control m-5"}}
	      </div>
			  <label class="col-sm-3 control-label">Define the Variables:</label>
			  <div class="col-sm-9">
			    {{view "select" content=listVariables optionValuePath="content.id" optionLabelPath="content.name" prompt="Add an existing variable" class="form-control m-5"}}
			  </div>
			  {{#each variable in model.study.variables}}
				  <label class="col-sm-3 control-label">{{_view.contentIndex}}.</label>
				  <div class="col-sm-7">
				    <p class="form-control-static" style="padding-bottom:0px">{{variable.name}}</p>
				  </div>
			  {{/each}}
			  <label class="col-sm-3 control-label">Define new P&P:</label>
				  <div class="col-sm-9">
			    {{view "select" content=listPyps optionValuePath="content.id" optionLabelPath="content.title" prompt="Add an existing policy or program" class="form-control m-5"}}
			  </div>
			  <label class="col-sm-3 control-label">1.</label>
			  <div class="col-sm-7">
			    <p class="form-control-static" style="padding-bottom:0px">Gender</p>
			  </div>
			  <label class="col-sm-3 control-label">2.</label>
			  <div class="col-sm-7">
			    <p class="form-control-static" style="padding-bottom:0px">Governance</p>
			  </div>
  		</div>
	  </div>
	</div>
	<div class="col-lg-11 text-center">
	  <div class="row">
	  	<input  class="btn btn-primary-blue" style="margin:15px;" type="submit" value="Save Changes"/>
			<button {{action "cancel"}} class="btn btn-primary-blue" style="margin:15px;">Cancel</button>
	  </div>
	</div>
</form>