<div class="row">
	<div class="col-sm-12">
		<h2><small>Study: </small>{{model.title}}</h2>
		<div class="panel panel-primary-blue">
		  <div class="panel-heading">
		    <h3 class="panel-title">{{#link-to 'studies'}}<span class="glyphicon glyphicon-chevron-left"></span>{{/link-to}} Study General Information</h3>
		  </div>

		  <div class="panel-body">
		  	<p class="bg-primary-blue text-center" style="margin:0px -15px 15px -15px">Variables</p>
		  	<dl class="dl-horizontal">
		  		<dt>Variables:</dt>
				  <dd>
				  	<ol>
					    {{#each variable in model.variables}}
					    	<li>{{#if variable.cc}}CC{{else}}CA{{/if}} - {{variable.name}}</li>
					    {{/each}}
				    </ol>
				  </dd>
				</dl>
	
				<p class="bg-primary-blue text-center" style="margin:0px -15px 15px -15px">Policies and Programs</p>
				<dl class="dl-horizontal">
					<dt>Policies and Programs:</dt>
				  <dd>
				  	<ul>
					    {{#each pyp in model.pyps}}
					    	<li><span {{bind-attr class=pyp.flagClass}}></span> - {{pyp.title}}</li>
					    {{/each}}
				    </ul>
				  </dd>
				</dl>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">
				{{#link-to 'study.edit' class="btn btn-primary-blue btn-lg btn-block"}}<span class="glyphicon glyphicon-pencil"></span>     Edit Study Information {{/link-to}}
			</div>
			<div class="col-sm-4">
				{{#link-to 'study.matrix' class="btn btn-orangeish btn-lg btn-block"}}<span class="glyphicon glyphicon-th"></span>     Generate P&P MATRIX {{/link-to}}
			</div>
		</div>
		<br>
		<br>
	</div>
</div>