<h2>Policy Mapping Matrix <small>for study: </small>{{model.title}}</h2>
<div class="row">
	<div class="col-sm-12">
		Variables:
		<ol>
			{{#each variable in model.variables}}
				<li>{{variable.name}}</li>
			{{/each}}
		</ol>
		<br>
		<br>
		<table class="table table-bordered table-condensed table-hover centered-cells">
			<thead>
				<tr>
					<th rowspan="2" colspan="4">Policies</th>
					<th {{bind-attr colspan=tripleLen}}>Variables</th>
				</tr>
				<tr>
					<th class="success" {{bind-attr colspan=model.variables.length}}>GeneralObjectives</th>
					<th class="warning" {{bind-attr colspan=model.variables.length}}>Measurements</th>
					<th class="info" {{bind-attr colspan=model.variables.length}}>Activities</th>
				</tr>
				<tr>
					<th>Policy</th>
					<th>General Objective</th>
					<th>Specific Objectives</th>
					<th>Outputs</th>
					{{#each index in varIndex}}
						<th class="success">{{index}}</th>
					{{/each}}
					{{#each index in varIndex}}
						<th class="warning">{{index}}</th>
					{{/each}}
					{{#each index in varIndex}}
						<th class="info">{{index}}</th>
					{{/each}}
				</tr>
			</thead>
			<tbody>
				{{#each pyp in model.pyps}}
					<tr>
						<td {{bind-attr rowspan=pyp.numberObjectivesPlusOne}}><strong>{{pyp.title}}</strong> len= {{pyp.numberObjectivesPlusOne}}</td>
						<td {{bind-attr rowspan=pyp.numberObjectivesPlusOne}}><strong></strong></td>
						<td {{bind-attr rowspan=pyp.numberObjectivesPlusOne}}><strong>Specific Objectives</strong></td>
						<td {{bind-attr rowspan=pyp.numberObjectivesPlusOne}}><strong>Output</strong></td>
					</tr>
					{{#each row in pyp.objectives}}
						<tr>
						
						{{#each index in tripleVarIndex}}
							<th>{{input style="max-width: 80%"}}</th>
						{{/each}}
						</tr>
					{{/each}}
				{{/each}}
			</tbody>
		</table>
	</div>
</div>