<h2>Policy Mapping Matrix <small>for study: </small>{{model.title}}</h2>
<div class="row">
	<div class="col-sm-12">
		Variables:
		<ol>
			{{#each variable in model.variables}}
				<li>{{variable.name}}</li>
			{{/each}}
		</ol>
		<br>
		<br>
		<div class="div-table">
			<table class="table table-bordered table-condensed table-hover centered-cells">
				<thead>
					<tr>
						<th colspan="4">Policies</th>
						<th {{bind-attr colspan=tripleLen}}>Variables</th>
					</tr>
					<tr>
						<th rowspan="2" class="col-fix">Policy</th>
						<th rowspan="2" class="col-fix">General Objective</th>
						<th rowspan="2" class="col-fix">Specific Objectives</th>
						<th rowspan="2" class="col-fix">Outputs</th>
						<th class="success" {{bind-attr colspan=model.variables.length}}>GeneralObjectives</th>
						<th rowspan="2" class="col-fix">Policy Instruments</th>
						<th class="warning" {{bind-attr colspan=model.variables.length}}>Measurements</th>
						<th rowspan="2" class="col-fix">Activities</th>
						<th class="info" {{bind-attr colspan=model.variables.length}}>Activities</th>
						<th rowspan="2" class="col-fix">Budget</th>
					</tr>
					<tr>
						{{#each index in varIndex}}
							<th class="success">{{index}}</th>
						{{/each}}
						{{#each index in varIndex}}
							<th class="warning">{{index}}</th>
						{{/each}}
						{{#each index in varIndex}}
							<th class="info">{{index}}</th>
						{{/each}}
					</tr>
				</thead>
				<tbody>
					{{#each pyp in model.pyps}}
						{{#each objective in pyp.objectives itemController="study/objective"}}
							{{#each outputNUR in objective.outputs itemController="study/output"}}
								<tr>
									{{#if outputNUR.isFirst}}
										{{#if objective.isFirst}}
										<td {{bind-attr rowspan=pyp.totalOutputs}}><strong>{{pyp.title}}</strong></td>
										<td {{bind-attr rowspan=pyp.totalOutputs}}><strong>{{matrix-content body=pyp.goName number="objetivo general"}}</strong></td>
										{{/if}}
										<td {{bind-attr rowspan=objective.outputs.length}}>{{matrix-content body=objective.title number="objectivos especifico"}}</td>
									{{/if}}	
									<td>{{matrix-content body=outputNUR.title number="outputs"}}</td>
									{{#each variable in model.variables}}
										{{matrix-new 
											study=model 
											variable=variable
											outputNUR=outputNUR 
											scoreIndex=1
											store=store}}
									{{/each}}
									<td>{{matrix-content body=outputNUR.policyInstrument number="outputs"}}</td>
									{{#each variable in model.variables}}
										{{matrix-new 
											study=model 
											variable=variable
											outputNUR=outputNUR 
											scoreIndex=2
											store=store}}
									{{/each}}
									<td>{{matrix-content body=outputNUR.activity number="outputs"}}</td>
									{{#each variable in model.variables}}
										{{matrix-new 
											study=model 
											variable=variable
											outputNUR=outputNUR 
											scoreIndex=3
											store=store}}
									{{/each}}
									<td>{{matrix-content body=outputNUR.budget number="outputs"}}</td>
									<td>
										{{#modal-trigger controls=outputNUR.id}}
											<span class="glyphicon glyphicon-stats"></span>
										{{/modal-trigger}}
										{{#modal-container id=outputNUR.id}}
										Si muetra algo esta monda?
											{{ember-chart type='Line' data=dataSet width=200 height=200}}
										{{/modal-container}}
									</td>
								</tr>
							{{/each}}
						{{/each}}
					{{/each}}
				</tbody>
			</table>		
		</div>	
	</div>
</div>