<h2>Policy Mapping Matrix <small>for study: </small>{{model.title}}</h2>
<div class="row">
	<div class="col-sm-12">
		Variables:
		<ol>
			{{#each variable in model.variables}}
				<li>{{variable.name}}</li>
			{{/each}}
		</ol>
		<br>
		<br>
		<table class="table table-bordered table-condensed table-hover centered-cells">
			<thead>
				<tr>
					<th rowspan="2" colspan="4">Policies</th>
					<th {{bind-attr colspan=tripleLen}}>Variables</th>
				</tr>
				<tr>
					<th class="success" {{bind-attr colspan=model.variables.length}}>GeneralObjectives</th>
					<th class="warning" {{bind-attr colspan=model.variables.length}}>Measurements</th>
					<th class="info" {{bind-attr colspan=model.variables.length}}>Activities</th>
				</tr>
				<tr>
					<th>Policy</th>
					<th>General Objective</th>
					<th>Specific Objectives</th>
					<th>Outputs</th>
					{{#each index in varIndex}}
						<th class="success">{{index}}</th>
					{{/each}}
					{{#each index in varIndex}}
						<th class="warning">{{index}}</th>
					{{/each}}
					{{#each index in varIndex}}
						<th class="info">{{index}}</th>
					{{/each}}
				</tr>
			</thead>
			<tbody>
				{{#each pyp in model.pyps}}
					{{#each objective in pyp.objectives itemController="study/objective"}}
						{{#each outputNUR in objective.outputs itemController="study/output"}}
							<tr>
								{{#if objective.isFirst}}
									<td {{bind-attr rowspan=pyp.totalOutputs}}><strong>{{pyp.title}}</strong></td>
									<td {{bind-attr rowspan=pyp.totalOutputs}}><strong>{{matrix-content body=pyp.go_name number=""}}</strong></td>
								{{/if}}
								{{#if outputNUR.isFirst}}
									<td {{bind-attr rowspan=objective.outputs.length}}>{{matrix-content body=objective.title number=""}}</td>
								{{/if}}	
								<td><strong>{{outputNUR.title}}</strong></td>

								{{#each variable in model.variables}}
									{{matrix-new 
										study=model 
										variable=variable
										outputNUR=outputNUR 
										scoreIndex=1
										store=store}}
								{{/each}}
								{{#each variable in model.variables}}
									{{matrix-new 
										study=model 
										variable=variable
										outputNUR=outputNUR 
										scoreIndex=2
										store=store}}
								{{/each}}
								{{#each variable in model.variables}}
									{{matrix-new 
										study=model 
										variable=variable
										outputNUR=outputNUR 
										scoreIndex=3
										store=store}}
								{{/each}}

							</tr>
						{{/each}}
					{{/each}}
				{{/each}}
			</tbody>
		</table>
	</div>
</div>