<h2>Policy Mapping Matrix <small>for study: </small>{{model.title}}</h2>
<div class="row">
	<div class="col-sm-12">
		Variables:
		<ol>
			{{#each variable in model.variables}}
				<li>{{variable.name}}</li>
			{{/each}}
		</ol>
		<br>
		<br>
		<table class="table table-bordered table-condensed table-hover centered-cells">
			<thead>
				<tr>
					<th rowspan="2" colspan="4">Policies</th>
					<th {{bind-attr colspan=tripleLen}}>Variables</th>
				</tr>
				<tr>
					<th class="success" {{bind-attr colspan=model.variables.length}}>GeneralObjectives</th>
					<th class="warning" {{bind-attr colspan=model.variables.length}}>Measurements</th>
					<th class="info" {{bind-attr colspan=model.variables.length}}>Activities</th>
				</tr>
				<tr>
					<th>Policy</th>
					<th>General Objective</th>
					<th>Specific Objectives</th>
					<th>Outputs</th>
					{{#each index in varIndex}}
						<th class="success">{{index}}</th>
					{{/each}}
					{{#each index in varIndex}}
						<th class="warning">{{index}}</th>
					{{/each}}
					{{#each index in varIndex}}
						<th class="info">{{index}}</th>
					{{/each}}
				</tr>
			</thead>
			<tbody>
				{{#each pyp in model.pyps}}
					{{#each objective in pyp.objectives itemController="study/objective"}}
						{{#each output in objective.outputs itemController="study/output"}}
							<tr>
								{{#if objective.isFirst}}
									<td {{bind-attr rowspan=pyp.totalOutputs}}><strong>{{pyp.title}}</strong></td>
									<td {{bind-attr rowspan=pyp.totalOutputs}}><strong>{{pyp.totalOutputs}}</strong></td>
								{{/if}}
								{{#if output.isFirst}}
									<td data-toggle="tooltip" data-placement="top" {{bind-attr title=objective.title rowspan=objective.outputs.length}}>{{objective.title}}</td>
								{{/if}}	
								<td><strong>{{output.title}}</strong></td>		
								{{#each index in tripleVarIndex}}
									<td>{{input style="max-width: 80%"}}</td>
									{{!-- id1 id2 id3 value --}}
								{{/each}}
							</tr>
						{{/each}}
					{{/each}}
				{{/each}}
			</tbody>
		</table>
	</div>
</div>