<h1>Previous Studies</h1>

<h4>Total created studies: {{model.length}}</h4>

{{#each study in model}}

<ul> 
	{{#link-to 'study' study}}		
		<li><strong>ID: </strong>{{study.id}}</li>
	{{/link-to}} 
		<li><strong>Title: </strong>{{study.title}}</li>
		<li><strong>Country: </strong>{{study.country}}</li>
</ul>
{{/each}}

{{outlet}}