<h1>New Study</h1> 
<h4>Study General Information</h4>

<form {{action "save" on="submit"}}>
	<h2>{{errorMessage}}</h2>
	<p>
		<label>Study Title:
			{{input value=model.title}}
		</label>
	</p>
	<p>
		<label>Country:
			{{input value=model.country}}
		</label>
	</p>
	<input type="submit" value="Save"/>
	<button {{action "cancel"}}>Cancel</button>
</form>