<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">General Information</h3>
  </div>
  <div class="panel-body">
    <ul>
			<li>{{model.description}}</li>
			<li>{{model.contactPerson}}</li>
			<li>{{model.typology}}</li>
			<li>{{model.regulatoryFramework}}</li>
			<li>{{model.regulatoryFrameworkReference}}</li>
			<li>{{model.parents}}</li>
			<li>{{model.childrens}}</li>
			<li>{{model.beneficiaries}}</li>
			<li>{{model.geographicalCoverage}}</li>
			<li>{{model.geographicalPlace}}</li>
			<li>{{model.dateEntry}}</li>
			<li>{{model.timeFrame}}</li>
			<li>{{model.source}}</li>
			<li>{{model.totalBudget}}</li>
			<li>{{model.currency}}</li>
			<li>{{model.comments}}</li>
		{{!-- 	{{#each objectives in model.objectives}}
				<li>{{objectives.title}}</li>
			{{/each}} --}}
		</ul>
		<div class="row">
			<div class="col-sm-3 col-sm-offset-3">
				{{#link-to 'policy.edit' class="btn btn-primary btn-lg btn-block"}}<span class="glyphicon glyphicon-pencil"></span> Edit General Information{{/link-to}}
			</div>
			<div class="col-sm-3">
				{{#link-to 'objectives' class="btn btn-primary btn-lg btn-block"}}<span class="glyphicon glyphicon-pencil"></span> Edit Technical Information{{/link-to}}
			</div>
		</div>
  </div>
</div>
{{liquid-outlet}}
