<div class="panel panel-primary-blue">
  <div class="panel-heading">
    <h3 class="panel-title">{{#link-to 'policies'}}<span class="glyphicon glyphicon-chevron-left"></span>{{/link-to}} General Information</h3>
  </div>
  <div class="panel-body">
  <p class="bg-primary-blue text-center" style="margin:0px -15px 15px -15px">General Information</p>
  	<dl class="dl-horizontal">

  		<dt>Description:</dt>
		  <dd>{{model.description}}</dd>

		  <dt>General Objective</dt>
		  <dd>{{model.goName}}</dd>

		  <dt>General Target</dt>
		  <dd>{{model.goTarget}}</dd>

		  <dt>General Baseline</dt>
		  <dd>{{model.goBaseline}}</dd>

		  <dt>Contact person:</dt>
		  <dd>{{model.contactName}} {{model.contactNumber}} {{model.contactEmail}} {{model.contactJob}}</dd>

		  <dt>Typology:</dt>
		  <dd>{{model.typology}}</dd>

		  <dt>Regulatory Framework:</dt>
		  <dd>{{model.regulatoryFramework}}</dd>

		  <dt>Reference:</dt>
		  <dd>{{model.regulatoryFrameworkReference}}</dd>

		  <dt>Beneficiaries:</dt>
		  <dd>{{model.beneficiaries}}</dd>

		  <dt>Geographical coverage:</dt>
		  <dd>{{model.geographicalCoverage}}</dd>

		  <dt>Specify:</dt>
		  <dd>{{model.geographicalPlace}}</dd>

		  <dt>Date of entry into force:</dt>
		  <dd>{{model.dateEntry}}</dd>

		  <dt>Timeframe:</dt>
		  <dd>{{model.timeFrame}}</dd>

		  <dt>Total Budget:</dt>
		  <dd>{{model.totalBudget}}</dd>

		  <dt>Currency:</dt>
		  <dd>{{model.currency}}</dd>

		  <dt>Main Actor:</dt>
		  <dd>{{model.responsible}}</dd>

		  <dt>Main Actor Duties:</dt>
		  <dd>{{model.responsibleDuties}}</dd>

		  <dt>Institutional Arrangements:</dt>
		  <dd>{{model.institutionalArrangements}}</dd>

		  <dt>Source:</dt>
		  <dd>{{model.source}}</dd>

		  <dt>Comments:</dt>
		  <dd>{{model.comments}}</dd>
		</dl>
		<p class="bg-primary-blue text-center" style="margin:0px -15px 15px -15px">Technical Information</p>
		<dl class="dl-horizontal">
			<dt>Objectives:</dt>
		  <dd>
		  	<ol>
					{{#each objective in model.objectives}}
						<li> <strong>{{objective.title}}</strong></li>
							<ul>
								<li><strong>Description: </strong>{{objective.description}}</li>
								<li><strong>Target: </strong>{{objective.target}}</li>
								<li><strong>Baseline: </strong>{{objective.target}}</li>
								<ol>
									{{#each output in objective.outputs}}
										<li><strong>{{output.title}}</strong></li>
										<ul>
											<li><strong>Description: </strong>{{output.description}}</li>
											<li><strong>Target: </strong>{{output.target}}</li>
											<li><strong>Baseline: </strong>{{output.target}}</li>
											<li><strong>Policy Instrument: </strong>{{output.policyInstrument}}</li>
											<li><strong>Activity: </strong>{{output.activity}}</li>
											<li><strong>Budget: </strong>{{output.budget}}</li>
										</ul>
									{{/each}}
								</ol>
							</ul>
						</li>
					{{/each}}
				</ol>
		  </dd>
		</dl>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 col-sm-offset-2">
		{{#link-to 'policy.edit' class="btn btn-primary-blue btn-lg btn-block"}}<span class="glyphicon glyphicon-pencil"></span>  Edit General Information {{/link-to}}
	</div>
	<div class="col-sm-4">
		{{#link-to 'objectives' class="btn btn-primary-blue btn-lg btn-block"}}<span class="glyphicon glyphicon-pencil"></span>  Edit Technical Information {{/link-to}}
	</div>
</div>
<br>
<br>

{{liquid-outlet}}
