<div {{action "toggleBody"}}>
  {{#if isShowingBody}}
    {{body}}
  {{else}}
  	{{number}}
  {{/if}}
</div>
{{yield}}


{{!--  <div {{action "toggleBody"}}>
  {{#liquid-if isShowingBody class="cell"}}
    {{body}}
  {{else}}
  	{{number}}
  {{/liquid-if}}
</div>
{{yield}}
 --}}