<div {{action "toggleBody"}}>
  {{#if isShowingBody}}
    {{truncate-text body rows=rows}}
  {{else}}
    {{#if acronym}}
      {{acronym}}
    {{else}}
    	{{truncate-text body limit=50 rows=rows}}
    {{/if}}
  {{/if}}
</div>
{{yield}}
