<h4>Total created variables: {{model.length}}</h4>

{{#each variable in model}}

<ul> 
	{{#link-to 'variable' variable}}		
		<li><strong>ID: </strong>{{variable.id}}</li>
	{{/link-to}} 
		<li><strong>Name: {{variable.name}}</strong></li>
		<li><strong>Type: </strong>{{variable.tipo}}</li>
		<li><strong>Description: </strong>{{variable.description}}</li>
		<li><strong>keywords: </strong></li>
			<ul>
			{{#each keyword in variable.keywords}}
				<li><strong>{{keyword.name}}</strong>{{#if keyword.definition}}<strong>: </strong>{{keyword.definition}}{{/if}}</li>
			{{/each}}
			</ul>
</ul>
	{{#link-to 'variable.edit' variable class="btn btn-primary-blue" style="margin:15px;"}} <i class="fa fa-fw fa-edit"></i>{{/link-to}}
	<button {{action "delete" variable}} class="btn btn-danger"><i class="fa fa-fw fa-trash"></i></button>
	<br>
	<br>
{{/each}}


{{liquid-outlet}}
